<!DOCTYPE html>
<html>
  <head>
    <title>XEmoji</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=520">
  </head>

  <body>
    <!-- TODO: remove me once coming soon page isn't at root path -->
    <% unless current_page?(root_path) %>
      <%= render 'layouts/navigation' %>
    <% end %>
    <%= yield %>
  </body>
</html>
